apiVersion: apps/v1
kind: Deployment
metadata:
  name: pod-metadata-app
  labels:
    app: pod-metadata
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pod-metadata
  template:
    metadata:
      labels:
        app: pod-metadata
    spec:
      serviceAccountName: pod-metadata-sa
      containers:
      - name: pod-metadata-app
        image: pod-metadata-app:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: POD_SERVICE_ACCOUNT
          valueFrom:
            fieldRef:
              fieldPath: spec.serviceAccountName
        volumeMounts:
        - name: podinfo
          mountPath: /etc/podinfo
      volumes:
      - name: podinfo
        downwardAPI:
          items:
            - path: "labels"
              fieldRef:
                fieldPath: metadata.labels
